@import '../scss/style.scss';

.footerContent {
    background-color: var(--headerFooter);
    height: 6rem;
    
    margin-top: 75vh;
    color: #ECECEC;
    padding: 1rem;
    // border-top-style: solid;
    // border-color: #1E1E1E;
    // border-width: .25rem;

}